<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PRENOTA EVENTO</title>
<link rel="stylesheet" href ="../css/prenotaEvento.css">
</head>
<body>
	<div class = "center">
		<input type = "checkbox" id = "clik">
		<label for = "clik" class = "click-me">Click me</label>
		<div class = "content">
			<div class = "header">
				<h2>JUST THINK IT</h2>
			</div>
			<h4>Gli eventi sono accessibili a chiunque, ma per far si che avvengano c'&egrave; bisogno di un piccolo contributo</h4>
			<h6>*donare &egrave; facoltativo, si pu&ograve; partecipare ugualmente all'evento</h6>
			<div class = "dono">
			<p>*Quanto vuoi donare?</p><input type="text" id = "dono"  name="dono" placeholder="10.00&euro;"/>
			</div>
			<div class = "carta">
			<p>*Carta di Credito</p><input type="text" id = "cartaDicredito"  name="Email" placeholder="67966869869790"/>
			</div>
			<button type="submit" name= "PARTECIPA" value="PARTECIPA">PARTECIPA</button>
			<div class = "ind">
			<a href= "">INDIETRO</a>
			</div>
		</div>
	</div>
</body>
</html>